<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <h1 id="main-title">000's Profile</h1>
      </div>
        <footer>
          Created by&nbsp;
          <a id="github-address" href="https://github.com/Eriniss">Team404</a>
        </footer>
      </div>
    </div>
  </body>
</html>