<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <h1 id="main-title">000's Profile</h1>
        <div class="profile-content">
          <div class="profile-box">
            <h2 class="intro-title">Info</h2>
            <p class="intro-content">Javascript/Typescript를 기반으로 하는 프론트엔드 신입 개발자 입니다.
              현재 진행중인 프로젝트는 first-CRUD가 있으며 위 프로젝트의 프론트엔드를 일정부분 담당하였습니다.
              프론트 엔드 외에 Express.js와 MongoDB를 활용한 백엔드 지식도 프로젝트 진행중에 습득하여 일정수준 보유하고 있습니다.</p>
          </div>
        <div class="profile-content">
          <div class="profile-box">
            <h2 class="intro-title">Career & Education</h2>
            <p class="intro-content">2015.03 ~ 2023.03 울산대학교 화학과 졸업<br>
              2022.04 ~ 2022.11 ICT 경남권 인공지능 웹서비스 개발과정 수료<br>
              2022.09 ~ 2022.11 AWS KR Training 과정 수료</p>
          </div>
        <div class="profile-content">
          <div class="profile-box">
            <h2 class="intro-title">Skills & Stack</h2>
            <p class="intro-content">Main Skills<br>
              Javascript   Typescript   React.js<br><br>
              
              Sub Skills<br>
              Python   ReactNative   Express.js   Nest.js   Vue.js   Pandas   Kaggle   MongoDB   SQL   Git</p>
          </div>
        </div>
        <div class="profile-content">
          <div class="profile-box">
            <h2 class="intro-title">Projects</h2>
            <p class="intro-content">First-CRUD(https://github.com/UOUWebDev/first-CRUD)<br>
              울산대학교 동아리에서 진행한 프로젝트 입니다.<br>
              ~~~을 하는것을 목표로 ~~~을 실제로 구현하였으며 이를 통해 ~~~을 달성할 수 있었습니다.<br><br>
              
              차기프로젝트(https://github.com)<br>
              ~~~을 하는것을 목표로 ~~~을 실제로 구현하였으며 이를 통해 ~~~을 달성할 수 있었습니다.</p>
          </div>
        </div>
        <div class="profile-content">
          <div class="profile-box">
            <h2 class="intro-title">Self-Intro</h2>
            <p class="intro-content">~</p>
          </div>
        </div>
      </div>
        <footer>
          Created by&nbsp;
          <a id="github-address" href="https://github.com/Eriniss">Team404</a>
        </footer>
      </div>
    </div>
  </body>
</html>